<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UserLoginTest">
<test name="single">
    <parameter name="platform" value="${platform}"></parameter>
    <parameter name="browserOrDevice" value="${deviceName}"></parameter>
    <parameter name="version" value="${platformVersions}"></parameter>
    <parameter name="os" value="Windows"></parameter>
    <parameter name="driverName" value="${driverName}"></parameter>
    <parameter name="appPaths" value="${app}"></parameter>
    <parameter name="projectName" value="${driverName}"></parameter>
    <classes>

         <class name="userProfileTest.UserProfile">
             <methods>

                 <include name="verifyAppVersion"/>
                 <include name="verifyPrivacyPolicy"/>
                 <include name="verifyTermsAndConditions"/>
                 <include name="verifyEmailPreferencesPage"/>
                 <include name="updateProfile"/>
                 <include name="verifyAppVersion_9134"/>
             </methods>
         </class>


         <class name="userIdentityTest.UserIdentity">
             <methods>
                 <include name="testRegisterNewUser"/>
                 <include name="forgotPassword"/>
                 <include name="resetPassword"/>
             </methods>
         </class>
        <class name="productDataTest.ProductData">
            <methods>
                <include name="testProductDetailsAllSandwichesFootLong"/>
                <include name="testProductDetailsAllSandwichesSixInch"/>
                <include name="testProductDetailsSubwayFreshFitFootLong"/>
                <include name="testProductDetailsSubwayFreshFitSixInch"/>
                <include name="testProductDetailsBreakfastFootLongFootLong"/>
                <include name="testProductDetailsBreakfastSixInch"/>
                <include name="testProductDetailsKidsMeal"/>
                <include name="testProductDetailsChoppedSalad"/>
            </methods>
        </class>
        <class name="orderTest.PlaceDefaultOrder">
            <methods>
                <include name="testPlaceDefaultOrderAllSandwichesFootLong"/>
                <include name="testPlaceDefaultOrderAllSandwichesSixInch"/>
                <include name="testPlaceDefaultOrderSubwayFreshFitFootLong"/>
                <include name="testPlaceDefaultOrderSubwayFreshFitSixInch"/>
                <include name="testPlaceDefaultOrderBreakfastFootLong"/>
                <include name="testPlaceDefaultOrderBreakfastSixInch"/>
                <include name="testPlaceDefaultOrderChoppedSalads"/>
                <include name="testPlaceDefaultOrderKidsMeal"/>
                <include name="testPlaceDefaultOrderSubOfTheDayFootLong"/>
                <include name="testPlaceDefaultOrderSubOfTheDaySixInch"/>
                <include name="testPlaceDefaultOrderPersonalPizzaFootLong"/>
            </methods>
        </class>
        <class name="myLoyaltyTest.Certificates">
            <methods>
                <include name="redeemCertificate_9188"/>
                <include name="redeemMultipleCertificate_5049"/>
            </methods>
        </class>

        <class name="myLoyaltyTest.MyWayTokenTracker">
            <methods>
                <include name="tokenTracker"/>

            </methods>
        </class>

        <class name="myLoyaltyTest.TokenGeneration">
            <methods>
                <include name="tokenGeneration"/>
            </methods>
        </class>

        <class name="favoriteTest.AddFavoriteOrder">
            <methods>
                <include name="addFavoriteOrder"/>
                <include name="addFavoriteReOrder"/>
                <include name="UnFavouriteOrder"/>
            </methods>
        </class>

        <class name="orderManagementTest.OrderHistory">
            <methods>
                <include name="verifyOrderHistory"/>
            </methods>
        </class>

        <class name="orderTest.EditYourOrder">
            <methods>
                <include name="placeRandomOrderAndDeleteToppings"/>
                <include name="editCartVerifyPlaceOrder"/>
                <include name="editCartAddAnotherVerifyPlaceOrder"/>
                <include name="editCartDeleteItemVerifyPlaceOrder"/>
                <include name="editCartSomethingElseVerifyPlaceOrder"/>
                <include name="addMoreItemsAtCheckOut"/>
                <include name="OrderSpecialInstructions"/>
            </methods>
        </class>

    </classes>
</test>

</suite>
